<div class="container">
  <div class="forms">
    <div class="form login">
      <div class="row">
        <div class="logo">
          <img src="../assets/twitch.png" alt="" />
        </div>
        <div class="title">
          <span>Đăng nhập Twitch </span>
        </div>
      </div>

      <form action="#">
        <label for="user">Tên người dùng</label>
        <input type="text" id="user" class="input_field" />
        <label for="password">Mật khẩu</label>
        <input type="text" id="password" class="input_field" />
      </form>

      <div class="problem">
        <a href="!#">Bạn gặp vấn đề khi đăng nhập?</a>
      </div>

      <div class="action">
        <button class="btn">Đăng nhập</button>
      </div>
    </div>
  </div>
</div>
